@import url(/lib/normalize/normalize.css);
@import url(/style/global-style.css);
/*@import url(../lib/animate-css/animate.css);*/

@font-face {
    font-family: 'DM Sans';
    src: url("/fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: 'DM Sans';
    src: url("/fonts/DMSans-Bold.ttf");
    font-weight: 700;
}

.box{
    background-image: linear-gradient(180deg, #0F0F33 0%, #050517 100%);
    min-height: 577px;
    color: var(--white);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58.5px;
    font-family: 'DM Sans';
}

.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 50%;
}

.nav * {
    box-sizing: border-box;
}

.nav .nav__item{
    flex-grow: 1;
    text-align: center;
}

.nav a{
    display: block;
    padding: 15px 0;
    transition: all .2s;
}

.nav a:hover{
    font-weight: 700;
}

.btn-account{
    padding: .75rem 1.5rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 100px;
}
